
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    line-height:1.6;
    background:#f4f6f9;
    color:#333;
}

h1,h2,h3{
    margin-bottom:15px;
}

section{
    padding:60px 10%;
}

nav{
    background:#1e3a8a;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 10%;
    position:sticky;
    top:0;
    z-index:1000;
}

nav h2{
    color:white;
}

nav ul{
    list-style:none;
    display:flex;
}

nav ul li{
    margin-left:20px;
}

nav ul li a{
    text-decoration:none;
    color:white;
    font-weight:bold;
    transition:0.3s;
}

nav ul li a:hover{
    color:#facc15;
}



.hero{
    background:linear-gradient(to right,#1e3a8a,#2563eb);
    color:white;
    text-align:center;
    padding:100px 20px;
}

.hero h1{
    font-size:40px;
}

.hero p{
    margin:20px 0;
    font-size:18px;
}

.btn{
    display:inline-block;
    background:#facc15;
    color:#000;
    padding:12px 25px;
    text-decoration:none;
    border-radius:5px;
    font-weight:bold;
    transition:0.3s;
}

.btn:hover{
    background:white;
}


.features{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
}

.card{
    background:white;
    padding:25px;
    border-radius:8px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    transition:0.3s;
}

.card:hover{
    transform:translateY(-5px);
}


.dashboard{
    background:#e0e7ff;
    text-align:center;
}

.dashboard img{
    width:100%;
    max-width:700px;
    border-radius:10px;
    margin-top:20px;
}

.contact{
    background:white;
}

form{
    max-width:500px;
    margin:auto;
}

input,textarea{
    width:100%;
    padding:12px;
    margin:10px 0;
    border:1px solid #ccc;
    border-radius:5px;
}

button{
    background:#1e3a8a;
    color:white;
    border:none;
    padding:12px;
    width:100%;
    border-radius:5px;
    font-size:16px;
    cursor:pointer;
}

button:hover{
    background:#2563eb;
}


footer{
    background:#1e3a8a;
    color:white;
    text-align:center;
    padding:20px;
}


.menu-toggle{
    display:none;
    font-size:25px;
    cursor:pointer;
}

@media(max-width:768px){

    nav ul{
        display:none;
        flex-direction:column;
        background:#1e3a8a;
        position:absolute;
        top:60px;
        right:0;
        width:200px;
        text-align:center;
    }

    nav ul.show{
        display:flex;
    }

    nav ul li{
        margin:15px 0;
    }

    .menu-toggle{
        display:block;
    }

}
